@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/
/* weather section starts here */
.weather .wrapper {
  padding: 20px 0;
}

.heading {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.weather-search {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.search-box { flex-basis: 70%; }
.search-cta { flex-basis: 20%; }

.user-input {
  width: 96%;
  padding: 4px;
  border: 2px solid rgb(197, 197, 197);
  outline: none;
  font-size: 16px;
}

.error { display: none; }
.error-active { display: block; }
.error-message { color: rgb(255, 0, 0); }

.search-button {
  padding: 7px;
  border-radius: 4px;
  display: block;
  background-color: rgb(32, 185, 45);
  color: #fff;
  font-size: 14px;
  text-align: center;
  transition: all .3s ease;
}

.weather-output {
  width: 50%;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 01px 10px rgba(0, 0, 0, .5);
}

.city-heading {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.weather-heading { margin: 10px 0; }
.clear { background-color: rgb(135, 206, 235); }

.partially-cloudy {
  background-color: rgb(36, 4, 4);
  color: #fff;
}

.cloudy {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.overcast { background-color: rgb(255, 146, 95); }

.rain {
  background-color: rgb(0, 95, 133);
  color: #fff;
}

.drizzle { background-color: rgb(0, 183, 255); }
.snow { background-color: rgb(255, 255, 255); }

.stormy {
  background-color: rgb(88, 88, 88);
  color: #fff;
}
/* weather section ends here */
/*=================================
  main styling ends here
=================================*/ 

/*media query starts*/
/*media query for hover starts here*/
@media only screen and (min-width: 995px) {
  .search-button:hover { background-color: rgb(0, 173, 14); }
}  